body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    padding: 0;
}

div {
    flex: 1 1 25%;
}

.changeClr {
    color: grey;
}