body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17 px;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    padding: 0;
    box-sizing: border-box;
}

.container > div {
    flex: 0 0 25%;
    box-sizing: border-box;
}

.changeClr {
    background-color: black;
}
