body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    height: 400px;
    width: 400px;
    border: 2px solid black;
    padding: 0;
}

div {
    flex: 1;
}